<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-logo">
    <img src="assets/maid-logo.png" alt="Logo do App é a letra M" />
  </div>

  <div class="blackBackground">
    <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <form class="form" [formGroup]="cadForm" (ngSubmit)="openNext()">
      <ion-item class="input-form">
        <ion-label position="floating">
          Nome <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="!cadForm.controls.nome.valid && (cadForm.controls.nome.dirty || cadForm.controls.nome.touched)" color="danger">
        <div [hidden]="!cadForm.controls.nome.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item lines="none" class="input-form">
        <ion-label position="floating">
          Tipo de Conta <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select value="" formControlName="tipoConta">
          <ion-select-option value="empregador">Empregador</ion-select-option>
          <ion-select-option value="empregado">Empregado</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!cadForm.controls.tipoConta && (cadForm.controls.tipoConta.dirty || cadForm.controls.tipoConta.touched)" color="danger">
        <div [hidden]="!cadForm.controls.tipoConta.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item class="input-form">
        <ion-label position="floating">
          Cidade <ion-text color="danger">*</ion-text>
        </ion-label>
        <!-- <ion-input required formControlName="email" type="text"></ion-input> -->
        <ion-input required type="text" formControlName="cidade"></ion-input>
      </ion-item>
      <ion-item *ngIf="!cadForm.controls.cidade.valid && (cadForm.controls.cidade.dirty || cadForm.controls.cidade.touched)" color="danger">
        <div [hidden]="!cadForm.controls.cidade.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item class="input-form">
        <ion-label position="floating">
          Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <!-- <ion-input required formControlName="email" type="text"></ion-input> -->
        <ion-input required type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!cadForm.controls.email.valid && (cadForm.controls.email.dirty || cadForm.controls.email.touched)" color="danger">
        <div [hidden]="!cadForm.controls.email.errors.required">
          O campo é obrigatório
        </div>
        <div [hidden]="!cadForm.controls.email.errors.pattern">
          O email inserido é inválido
        </div>
      </ion-item>

      <ion-item class="input-form">
        <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <!-- <ion-input required formControlName="password" type="text"></ion-input> -->
        <ion-input required type="password" formControlName="senha"></ion-input>
      </ion-item>
      <ion-item *ngIf="!cadForm.controls.senha.valid && (cadForm.controls.senha.dirty || cadForm.controls.senha.touched)" color="danger">
        <div [hidden]="!cadForm.controls.senha.errors.required">
          O campo é obrigatório
        </div>
  
        <div *ngIf="!cadForm.controls.senha.errors.minLength">
          Senha deve conter, no mínimo, 6 caracteres.
        </div>
  
      </ion-item>
  
      <ion-button block color="primary" type="submit" [disabled]="!cadForm.valid" fill="white" shape="round">
        <!--[disabled]="loginForm.invalid">-->
        Cadastrar
      </ion-button>
    </form>
  

  </div>
</ion-content>