.img-profile {
    margin-top: 20px;
    text-align: center;
    margin-left: 40%;
    margin-right: 50%;
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

ion-item {
    border: solid #101010;
    border-width: 1px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.form-edit {
    padding: 10%;
}

ion-button {
    margin-left: 40%;
    margin-right: 50%;
}