
.image-logo {
    width: 80px;
    height: 80px;
    margin: auto;
    // margin-top: 20%;
}
ion-toolbar {
    --background: transparent !important; 
    --ion-color-base: transparent !important;
}
.blackBackground {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.input-form {
    margin: 20px;
    border-radius: 15px;
}

.form {
    margin-top: 20%;
}
