.card {
    padding: 10px;
    height: auto;
    width: 100%;
    border: solid #101010;
    border-width: 1px;
}
.data {
    font-size: 18px;
}
.empregado {
    font-size: 15px;
}

.pagamento {
    text-transform: uppercase;
    text-align: left;
}
.left-side {
    font-size: 12px;
    text-align: left;
}