
.profile {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}
.function {
    font-size: 15px;
    opacity: .6;
}
.button {
    text-align: center;
    margin-top: 10px;
}
.button ion-button {
    height: 30px;
    display: block;
}
.classificacao {
    text-align: center;
}
.classificacao rating {
    font-size: 50px;
    height: 100px;
    width: 100px;
}
.filtro {
    opacity: .7;
    font-size: 12px;
}
.card {
    height: auto;
    width: 100%!important;
    border: solid #101010;
    border-width: 1px;
}
.card-image {
    width: 50px;
    height: 50px;
}
.comentario {
    margin-left: 30px;
}
.btnContact {
    display: inline;
}