<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header ion-no-padding">
    <ion-item lines="none">
      <ion-avatar class="profile" slot="start">
        <img src="assets/profile.jpg" />
      </ion-avatar>
      <div>
        <div class="name">
          <h1>Malika Lee</h1>
        </div>
        <div class="function">
          <ion-label>Babysitter, Seattle</ion-label>
        </div>
      </div>
    </ion-item>
  </div>

  <div class="button" *ngIf="profileType !== 'not-user'">
    <ion-button
      shape="round"
      color="dark"
      fill="outline"
      routerLink="/editar-dados"
    >
      Editar Perfil
    </ion-button>
  </div>
  <div class="button" *ngIf="profileType == 'not-user'">
  
    <div class="btnContact">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button shape="round" expand="block" color="dark" fill="outline">
              Telefone
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button shape="round" expand="block" color="dark" fill="outline">
              Email
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-button
      shape="round"
      color="dark"
      fill="outline"
      routerLink="/solicitar-servico"
    >
      Solicitar Serviço
    </ion-button>
  </div>

  <h4>Classificação</h4>

  <div class="classificacao">
    <rating rating="4"></rating>
  </div>

  <ion-row>
    <ion-col size="6">
      <h4>Recomendações</h4>
    </ion-col>
    <ion-col size="6">
      <ion-item class="filtro" lines="none">
        <ion-select value="mr">
          <ion-select-option value="mr">Mais relevantes</ion-select-option>
          <ion-select-option value="rating"
            >Por classificação</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-list *ngFor="let comment of comments">
    <ion-item lines="none">
      <ion-card class="card">
        <ion-item lines="none">
          <ion-avatar class="card-image" slot="start">
            <img src="assets/profile.jpg" />
          </ion-avatar>
          <div>
            <div class="name">
              <h5>{{comment.nome}}</h5>
            </div>
            <div class="function">
              <ion-label>{{comment.cidade}}</ion-label>
            </div>
          </div>
        </ion-item>
        <ion-item slot="end" lines="none">
          <rating rating="4"></rating>
        </ion-item>
        <div class="comentario">
          <p>{{comment.comentario}}</p>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
