<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/profile.jpg" />
      </ion-avatar>
      <div>
      <div class="name">
        <h1>Malika Lee</h1>
      </div>
      <div class="function">
        <ion-label>Babysitter, Seattle</ion-label>
      </div>
    </div>
    </ion-item>
  </div>

  <div class="button">
    <ion-button expand="block" shape="round">
      Editar Perfil
    </ion-button>
  </div>

  <h2>Classificação</h2>

  <div class="classificacao">
    <rating rating="4"></rating>
  </div>

</ion-content>
