.profile-header {
    margin-left: 25px;
}
ion-avatar {
    width: 80px;
    height: 80px;
}
.function {
    font-size: 15px;
    opacity: .6;
}
ion-button {
    --color: #000;
    --background: #fff;
    --box-shadow: none;
    --border-width: 20px;
    --border-color: #000;
}
.classification {
    text-align: center;
    font-size: 50px;
    size: 50px;
}