.content {
    margin: 10%;
}
.nome {
    font-size: 18px;
    font-weight: bold;
    color: #101010;
    margin-left: 15px;
}

.funcao {
    opacity: .7;
    font-size: 12px;
    margin-left: 15px;
}