ion-item {
    border: solid #101010;
    border-width: 1px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.form-edit {
    padding: 10%;
}

ion-button {
    margin-left: 30%;
    margin-right: 50%;
}