<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Solicitar Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="solicitar-servico">

    <div class="empregado">
      <ion-item lines="none" class="item-line ion-no-padding">
        <div class="avatar" slot="start">
          <ion-avatar>
            <img src="assets/profile.jpg" />
          </ion-avatar>
        </div>
        <div>
          <div class="nome">
            Malika Lee
          </div>
          <div class="funcao">
            <p>Empregado</p>
          </div>
        </div>
      </ion-item>
    </div>

    <div class="form-edit">

      <form>
        <ion-item lines="none" class="ion-no-padding">
          <ion-label position="floating">
            Data <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-datetime display-format="DD.MM.YYYY"></ion-datetime>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-label position="stacked">
            Endereço <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="text" placeholder="CEP"></ion-input>
          <ion-input type="text" placeholder="Logradouro"></ion-input>
          <ion-input type="text" placeholder="Número"></ion-input>
          <ion-input type="text" placeholder="Bairro"></ion-input>
          <ion-input type="text" placeholder="Cidade"></ion-input>
          <ion-input type="text" placeholder="Estado"></ion-input>
          
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-label position="floating">
            Forma de Pagamento <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select value="">
            <ion-select-option value="dinheiro">Dinheiro</ion-select-option>
            <ion-select-option value="credito">Cartão de Crédito</ion-select-option>
            <ion-select-option value="debito">Cartão de Débito</ion-select-option>
            <ion-select-option value="paypal">PayPal</ion-select-option>
            <ion-select-option value="picpay">PicPay</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-label position="floating">
            Descição do Serviço <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>

        <div class="ion-padding">
          <ion-button 
            type="submit"
            color="dark"
            shape="round"
            class="ion-no-margin"
            routerLink="/solicitar-servico-servicos"
          >Continuar</ion-button>
        </div>
      </form>
    </div>
  </div>

</ion-content>
