<ion-content>
  <div class="image-logo">
    <img src="assets/maid-logo.png" alt="Logo do App é a letra M" />
  </div>

  <div class="blackBackground">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item class="input-form">
        <ion-label position="floating">
          E-Mail <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)" color="danger">
        <div [hidden]="!loginForm.controls.email.errors.required">
          O campo é obrigatório
        </div>
        <div [hidden]="!loginForm.controls.email.errors.pattern">
          O email inserido é inválido
        </div>
      </ion-item>
      <ion-item class="input-form">
        <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" formControlName="senha"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.controls.senha.valid && (loginForm.controls.senha.dirty || loginForm.controls.senha.touched)" color="danger">
        <div [hidden]="!loginForm.controls.senha.errors.required">
          O campo é obrigatório
        </div>
  
        <div *ngIf="!loginForm.controls.senha.errors.minLength">
          Senha deve conter, no mínimo, 6 caracteres.
        </div>
  
      </ion-item>

      <ion-button block color="primary" [disabled]="!loginForm.valid" type="submit" fill="white" shape="round" routerLink="/home"
        routerDirection="root">
        Login
      </ion-button>
    </form>
    
    <div class="forgot">
      <ion-text color="light">
        Esqueceu sua senha?
      </ion-text>
    </div>

    <div class="cadastre">
      <ion-text color="light" routerLink="/cadastro">
        Cadastre-se
      </ion-text>
    </div>
    <!-- <span class="label">Entrar como:</span> -->
    <!-- <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <div
          class="fb-login-button"
          data-max-rows="1"
          data-size="small"
          data-width="50%"
          data-button-type="continue_with"
          data-use-continue-as="true"
        ></div>
        </ion-col>
        <ion-col size="6">
          <div id="g-login-button">
            <div id="customButton" class="ion-no-margin">
              <span class="icon">
                <ion-icon name="logo-google"></ion-icon>
              </span>
              <span class="btnText">Google</span>
            </div>
          </div>  
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </div>
</ion-content>