
.image-logo {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 20%;
}
.fb-login-button {
    background: #4267b2;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    height: 35px;
    text-align: center;
}
.blackBackground {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.input-form {
    margin: 20px;
    border-radius: 15px;
}

.form {
    margin-top: 20%;
}

.forgot {
    margin-top: 25px;
}

.cadastre {
    margin-top: 10px;
}

#g-login-button {
    margin-top: 20px;
}

#customButton {
    background: white;
    color: #444;
    width: 150px;
    height: 35px;
    border-radius: 20px;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
    color: white;
  }
  span.icon {
    // background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    margin-top: 7%;
    vertical-align: middle;
    color: red;
    width: 42px;
    height: 42px;
  }
  span.btnText {
    // display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    color: red;
    margin-top: -3%;
    font-weight: bold;
  }