
ion-searchbar {
    --border-radius: 10px;
}
.categoria {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    margin-left: auto;
    text-align: left;
    background-color: blueviolet;
}
.icon {
    padding-top: 10px;
    padding-left: 12px;
    font-size: 18px;
}
.texto {
    padding-left: 12px;
    padding-top: 10px;
    color: white;
}

.rating {
    font-size: 30px;
}

.number {
    color: #101010;
    font-size: 25px;
    font-weight: bold;
}

.nome {
    font-size: px;
    font-weight: bold;
    color: #101010;
    margin-left: 15px;
}

.cidade {
    opacity: .7;
    font-size: 10px;
    margin-left: 15px;
}

h2 {
    opacity: .7;
}