<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>home</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <h1>Olá, Malika!</h1>

  <ion-searchbar placeholder="Buscar" (ionChange)="onSearchChange($event)"></ion-searchbar>

  <h2>Por Categoria</h2>

  <ion-slides pager="true" [options]="slidesOpt">
    <ion-slide *ngFor="let item of slideItems">
      <ion-card class="categoria" >
        <div class="icon">
          <ion-icon name={{item.icon}} color="light"></ion-icon>
        </div>
        <div class="texto">
          <strong>{{item.title}}</strong>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- <rating [rating]="4"></rating> -->

  <h2>Classificação</h2>

  <ion-list *ngFor="let ppl of ranking; index as i">
    <ion-item>
      <div slot="start">
        <ion-avatar>
          <img src="assets/profile.jpg" />
        </ion-avatar>
      </div>
      <div>
        <div class="nome">
          <span class="number">{{i + 1}}</span>
          {{ppl.nome}}
        </div>
        <div class="cidade">
          {{ppl.cidade}}
        </div>
      </div>
      <span class="rating">
        <rating item-content rating={{ppl.rating}}></rating>
      </span>
    </ion-item>
  </ion-list>
</ion-content>
