
ion-searchbar {
    --border-radius: 10px;
}
.categoria {
    width: 117px;
    height: 77px;
    border-radius: 10px;
    text-align: left;
    background-color: blueviolet;
}
.icon {
    padding-top: 10px;
    padding-left: 12px;
    font-size: 18px;
}
.texto {
    padding-left: 12px;
    padding-top: 10px;
    color: white;
}

.rating {
    font-size: 30px;
}

.number {
    color: tomato;
}

.nome {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.cidade, h2 {
    opacity: .7;
}
