.component {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
    margin-top: 15px;
}

.nome {
    font-size: 15px;
    font-weight: bold;
    color: #101010;
    margin-left: 15px;
}

ion-avatar {
    height: 40px;
    width: 40px;
}

.cidade {
    opacity: .7;
    font-size: 12px;
    margin-left: 15px;
}

.contact {
    margin-top: 20px;
    margin-left: 10px;
    opacity: .6;
}

.telefone {
    margin-top: 5px;
}

.buttons {
    opacity: .7;
    font-size: 20px;
    margin-left: 5px;
}

ion-grid {
    margin-top: 20px;
    margin-left: 10px;
}