.data {
  font-size: 20px;
  margin: 10px;
}

.forma-pagamento {
  text-transform: uppercase;
  opacity: .7;
  font-size: 15px;
}

.empregador {
  margin-top: 10px;
}

.empregado {
  margin-top: 20px;
}

.descricao, 
.endereco, 
.horario, 
.localizacao,
.conteudo,
.mapa {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.conteudo {
  text-align: justify;
  opacity: .8;
}

p {
  font-size: 12px;
  opacity: .7;
}

.mapa {
  border: solid #101010;
  border-width: 1px;
  border-radius: 10px;
  width: auto;
  height: 200px;
}
.botao {
  margin-top: 15px;
}