<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" class="header">
    <div class="data" slot="start">
      <strong>{{data.data}}</strong>
    </div>
    <div class="forma-pagamento" slot="end">
      {{data.formaDePagamento}}
    </div>
  </ion-item>
  <!-- EMPREGADOR -->
  <div class="empregador">
    <ion-item lines="none">
      <div class="avatar" slot="start">
        <ion-avatar>
          <img src="assets/profile.jpg" />
        </ion-avatar>
      </div>
      <div>
        <div class="nome">
          {{data.empregador}}
        </div>
        <div class="funcao">
          <p>Empregador</p>
        </div>
      </div>
    </ion-item>
  </div>
  <!-- EMPREGADO -->
  <div class="empregado">
    <ion-item lines="none">
      <div class="avatar" slot="start">
        <ion-avatar>
          <img src="assets/profile.jpg" />
        </ion-avatar>
      </div>
      <div>
        <div class="nome">
          {{data.empregado}}
        </div>
        <div class="funcao">
          <p>Empregado</p>
        </div>
      </div>
    </ion-item>
  </div>

  <div class="descricao">
    <strong>Descrição: </strong> 
    <div class="conteudo">
      Cuidar de uma criança de 3 anos, arrumar a casa, fazer a comida da criança.
    </div>
  </div>

  <div class="endereco">
    <strong>Endereço: </strong> {{data.local}}
  </div>

  <div class="horario">
    <strong>Horário: </strong> {{data.horario}}
  </div>

  <div class="localizacao">
    
    <strong>Localização</strong>

    <div class="mapa">
      <app-mapa></app-mapa>
    </div>
  </div>

  <!-- <div class="botao" *ngIf="data.status == 'não finalizado'">
    <ion-button (click)="finalizar(data)" expand="block" color="dark" shape="round">
      Finalizar
    </ion-button>
  </div> -->
</ion-content>
