<ion-content>
  <div class="image-logo">
    <img src="assets/maid-logo.png" alt="Logo do App é a letra M" />
  </div>

  <div class="blackBackground">
    <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <form class="form">
      <h3>Digite seus principais serviços a serem prestados</h3>
      <ion-item class="input-form">
        <!-- <ion-input required formControlName="email" type="text"></ion-input> -->
        <ion-input required type="text"></ion-input>
      </ion-item>

      
      <ion-button class="botaoAdd" color="primary" type="submit" fill="white" shape="round" routerLink="/login">
        <!--[disabled]="loginForm.invalid">-->
        Adicionar
      </ion-button>
    </form>
  

  </div>
</ion-content>